body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

td {
    text-align: center;
}

th {
    text-decoration: underline;
}

a {
    text-decoration: none;
}

nav ul {
    list-style-type: none; 
}

nav ul li {
    display: inline-block;
    margin-right: 10px;  
}